	body #presence-container {
	bottom:0;
	color:#000;
	font-size:11px;
	height:0px;
	overflow: hidden;
	padding: 0;
	position:fixed;
	margin-right:2px;
	right:0;
	width:200px;
	z-index:99;
	background: #FFF; }
	body #presence-container div.presence-contents {
		border: 1px dotted #696969;
		background-attachment:scroll;
		background-color:transparent;
		background-image:url(../../images/misc/comment_add.png);
		background-position:5px 5px;
		background-repeat:no-repeat;
		padding-bottom:8px;
		padding-left:25px;
		padding-top:8px; }
	body div.livetopic-editnotice {
		padding: 5px;
		margin-bottom: 20px;
		background-color: #FFF8DD;
		border: 1pt dashed red; }
	body div.livetopic-maxpostnotice {
		font-weight: bold;
		padding: 5px;
		background-color: #FFF8DD;
		border: 1pt dashed red; }